In [3]:
import time
import datetime as dt
import pandas as pd
import pandas_ta as ta
import yfinance as yf
import matplotlib.pyplot as plt
import os
pd.options.mode.chained_assignment = None
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
tickersdf = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers =  [i.replace('.','-') for i in tickersdf.Symbol.to_list()]
# Remove offending symbols as neede
tickers.remove('WRK')

In [ ]:
def plot_signals(df):
    frame = df.copy()
    plt.figure(figsize=(20,5))
    plt.scatter(frame.loc[buy].index, frame.loc[buy]['open'], marker='^',c='g')
    plt.scatter(frame.loc[sell].index, frame.loc[sell]['open'], marker='*',c='r')
    plt.plot(frame['close'], alpha=0.7)

symbol=AAPL from=2021-07-24 20:00:00+00:00

             open   high    low  close      volume
date
2005-01-03   1.16   1.16   1.12   1.13   691992000
2005-01-04   1.14   1.17   1.12   1.14  1096810400
2005-01-05   1.15   1.17   1.14   1.15   680433600
2005-01-06   1.15   1.16   1.13   1.15   705555200
2005-01-07   1.16   1.24   1.16   1.24  2227450400
...           ...    ...    ...    ...         ...
2021-07-26 148.27 149.83 147.70 148.99    72269700
2021-07-27 149.12 149.21 145.55 146.77   103580300
2021-07-28 144.81 146.97 142.54 144.98   118834300
2021-07-29 144.69 146.55 144.58 145.64    56507100
2021-07-30 144.38 146.33 144.11 145.86    64471899

[4173 rows x 5 columns]

In [53]:
#%run rsi_momo.py
symbol = 'XLK'
df = load_symbol(symbol)
params = {'rsi_entry': 25, 'rsi_exit': 35, 'sma_period': 150, 'stop_loss_pct': 10, 'max_trade_days': 12, 'id': 1322 }
df = rsi_momo_strategy(symbol, df, params)